// colors
$primary-color:#193470;
$primary-dark-purple: #19366f;
$text-primary:#181D27;
$light-gray-blue: #E9EAEB;
$deep-violet: #1b4c73; 
$soft-lilac: #e8f0f7;
$dark-neutral:#171717;
$light-color:#f0f5f9;
$dark-gray:#404040;
$white:#fff;
$purple-haze:#d9e5f0;
$dark-purple: #19366f;
$light-purple: #c9dce9;
$light-lavender: #e3edf5;
$gray-medium: #737373;
$dark-slate-gray: #414651;
$soft-purple: #1b4c73;
$muted-sage: #717680;
$dark-grayish-green: #535862;
$light-gray: #EDEDED;
$background-light-green: #e0eaf2;



$shadow-color: rgba(0, 0, 0, 0.1);
$overlay-bg: rgba(0, 0, 0, 0.6);
$transition-duration: 0.3s; 



// font family 
$font-family-body: 'GeneralSans', sans-serif;       





